@model WebApplicationMultiImages.Models.tblproduct
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <form action="/Product/Create" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Product Id</td>
                    <td>@Html.TextBoxFor(e=>e.productId)</td>
                </tr>
                <tr>
                    <td>Product Name</td>
                    <td>@Html.TextBoxFor(e => e.productName)</td>
                </tr>
                <tr>
                    <td>Product Photo</td>
                    <td><input type="file" name = "photo"  multiple/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="submit" /></td>
                </tr>
                
            </table>
        </form>
    </div>
</body>
</html>
